$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'gameboard';

body {
  background-color: $black;
}

.scoreboard {
  color: $white;
  margin: 0 auto;
}

.scoreboard>button {
  margin-top: 12px;
}
